<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>φ Dataset</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex min-h-full flex-col">
    <main class="container mx-auto px-5 flex flex-col grow">
      <%= render partial: 'layouts/navbar' %>

      <div class="p-4 pt-8 grow flex flex-col">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
